<!DOCTYPE html>
<html>
<head>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<style>
body {
	margin: 5em;
}


</style>
</head>
<body>
	<div class="container" style="width: 800px;">
		<div class="card bg-light">
			<article class="card-body mx-auto" style="max-width: 500px;">
				<h4 class="card-title mt-3 text-center">Error during agent registration</h4>
			</article>
		</div>
	</div>
</body>
</html>
